body{
	margin:0;
	padding:0;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-color: hsl(240, 75%, 98%);
	font-size: 18px;
}
.intro{

	padding-top:2em;
}


.picture img{
	width: 80%;
	padding-left: 3em;
}

.illustration img{
	width: 80%;
	padding-left: 3em;
	padding-top: 7em;

}

header{


	height: 10%;
	
}

section{
	height: 30%;
}

.section_1{
	height: 50%;
}


header img{
	float:left;
	width:100px;
	padding-top:16px;

}

header nav{
	float: right;
	margin-right: 0.5em;
}

header nav ul li{
	float: left;
	padding-left: 0.7em;
	/*padding-right: 1em;*/
	/*padding-right: 2em;*/
	padding-top:5px;
	list-style: none;
}

main{
	clear: both;
	
}

h1{
	color: hsl(243, 87%, 12%);
	text-align: center;
	padding-left: 1em;
	padding-right:1em;
}

section div p{
	text-align: center;
	padding-top:2em;
	font-size: 1.1em;
	padding-left: 1em;
	padding-right:1em;
}

h2{
	color: hsl(243, 87%, 12%);
	text-align: center;
	padding-left: 1em;
	padding-right:1em;
	padding-top: 1.5em;
}

article {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
}

article:hover{
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);

}

.flow{
	display: flex;
	justify-content: space-around;
}

header h3{
	padding-left: 2em;
	color:hsl(0, 0%, 75%);
}

.flow img{
	width: 10%;
	padding-bottom: 10px;
}

.message::before {
    content: '"';
    padding: 18px;
}

.avatar{
	display: flex;
	justify-content: space-around;
	padding-bottom: 1em;
}

.avatar img{
	border-radius: 50%;
	width: 30%;
	height: 100px;
}

.message{
	padding:2px 16px;
}
.container{
	padding-left: 1em;
	padding-right:1em;
}

.message p{
	
	padding-top: 0px;
	text-align: justify;
}


.section_2{
	background: hsl(224, 93%, 58%);
}

.section_2 p{
	text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

/*.underline{
	height: 30%;
	width:100px;
	background: red
}*/

form{
	text-align: center;
}

form input{
	padding:1em;
	border:1px solid red;

}

form button{
	padding:1em;
	margin:1em;
	width:52%;
	background: hsl(224, 93%, 58%);
	font-size: 1em;
}



.picture{
	/*width:100%;
	height: 100%;
	background: url('images/illustration-1.svg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;*/
	/*min-height: 100%;*/
	/*width: 100px;
	height: 50px;*/

}

/*- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%)*/


footer{
	/*height: 20%;*/
	background: hsl(243, 87%, 12%);
	color:white;
}

footer div > img{
	/*padding: 30px 0 30px 0;*/
	padding-left:2em;
	padding-right: 30px;
	padding-top:30px;

}

.font_awesome{
	
	display: flex;
	justify-content: center;
}

div span img{
	padding-right: 1em;
}

address div{
	padding-left:2em;
	font-size:1em;
}


@media (min-width: 600px){
	.picture{
		width: 50%;
		height: 400px;
		float: right;

	}


	.aside{
		width: 50%;
		height: 400px;
		float: left;
	}

	.illustration{
		width: 40%;
		float:right;
	}

	.content{
		width: 60%;
		float: left;
	}

	.hello_1 h2{
		text-align: justify;
		color:white;
	}


	.section_2{
		clear: both;
		height: 300px;

	}


	.section_2 p{
		text-align: justify;
	}

	.flow{
		justify-content: normal;
	}


	.flow img{
		width: 4%;
		/*padding-bottom: 20px;*/
	}

	article{
		width:50%;
		margin-bottom: 4em;
		margin-left: 2em;

	}

	form button {
     padding: 0;
     margin: 0;
     width: 30%
    
	}

	form input{
		width: 50%;
	}


	header img{
		padding-left: 3em;
	}

	header nav{
		margin-right: 3em;
	}

	header nav ul li {
		padding-left: 4em;
	}


	.message{
		padding-top: 1em;
		
	}

	.form_1{
		display: flex;
		justify-content: normal;
		padding-left: 3em;
	}


	.hello_1{
		float: left;
		width: 60%;
		color:white;
	}

	.hello_2{
		float: right;
		width: 40%;
		padding-top:4em;
	}

	.form_2{
		display: block;
	}

	.form_2 input{
		width: 80%;
		padding:0.6em;
	}

	.form_2 button{
		display: block;
		width: 50%;
		padding:0.6em;
		margin-left:3.1em;
		font-size: 14px;
		margin-top: 1em;
		color:white;
		/*border:8px solid hsl(224, 93%, 58%);*/
	}


	address {
		display: flex;
		justify-content: space-around;
	}


	


	footer{
		clear: both;
	}


	footer div > img{
		padding-left: 7em;
	}
}



@media (max-height:568px){
	body{
		font-size:16px;
	}

}



















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%);
padding-top: 1em; }
  